@use "../../foundation/base" as b;
@use "../../foundation/color" as c;
@use "../../foundation/font-family" as f;
@use "../../foundation/mixin" as m;

/*
==================
hamburger-menu(共通)
==================
*/
.c-header { 
  &__nav {
    transform: translateX(100%); //スマホの時隠す
    z-index: 200; //上に来るように
    width: 70%;
    height: 100%;
    padding-left: 60px;
    background-color: rgba(110, 117, 164, 0.95);
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.5s ease-in-out 0s; //開く速度を設定
    @include m.breakpoint(tablet) {
      all: initial;
      height: 90px;
      line-height: 90px; //縦中央揃え
  }
    ul {
      display: flex;
      flex-direction: column;
      margin-top: 120px;
      @include m.breakpoint(tablet) {
        margin-top: 0px;
        flex-direction: row;
      }
      li {
        padding: 35px 0;
        @include m.breakpoint(tablet) {
          padding: 0 35px;
        }
      }
    }
    >ul>li>a {
      font-family: f.$eiji-font;
      font-size: 20rem;
      color: c.$color-font-light;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 39px;
        left: 0;
        height: 0.5px;
        width: 0;
        transition: .5s all;
        background-color: c.$color-font-dark;
      }
      &:hover::after {
        width: 100%;
      }
      @include m.breakpoint(tablet) {
      color: c.$color-font-dark;
      }
    }
  }
  //hamburger-menu
  &__hamburger-checkbox {
    display: none;
  }
  &__hamburger-background {
    background-color: rgba(135, 150, 169, 0); //透明にしておく
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s; //ふわっとさせるアニメーション
    pointer-events: none; //クリック・タッチを無効化
    z-index: -1; //下にもぐらす
  }
  &__hamburger-button {
    font-size: 18px;
    cursor: pointer; //指マークに変わる設定
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 300; //スライドメニューより上に配置する
    @include m.breakpoint(tablet) {
      display: none;
    }
  }
  &__hamburger-button-svg {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 25px;
    right: 25px;
    @include m.breakpoint(tablet) {
      display: none;
    }
  }
}

//チェックボックスを押すとメニューが出てくる
.c-header__hamburger-checkbox:checked ~ .c-header__nav {
  transform: translateX(0);
}
//チェックボックスを押すと背景が出てくる
.c-header__hamburger-checkbox:checked ~ .c-header__hamburger-background {
  background: rgba(135, 150, 169, 0.75); //薄い黒色に変化
  pointer-events: auto; //クリック・タッチできるように
  z-index: 100; //上にもってくるため
}

//チェックボックスを押すとボタンがバッテンになる？
.c-header__hamburger-checkbox:checked ~ .c-header__hamburger-button-svg>g>.c-header__hamburger-button-sen {
    transform: rotate(45deg);
}