@use "../../foundation/base" as b;
@use "../../foundation/color" as c;
@use "../../foundation/font-family" as f;
@use "../../foundation/mixin" as m;

//archive blog
.p-main {
  &__border {
    background-image: url(../image/sen-kugiri.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    //width: 340px;
    width: 100%;
    height: 12px;
    &:last-of-type {
      margin-top: 180px;
      margin-bottom: 30px;
    }
    @include m.breakpoint(tablet) {
      //width: 600px;
    }
    @include m.breakpoint(pc) {
      //width: 920px;
    }
  }
}

/*
==============================
WordPress化 front-page以外
==============================
*/
.single .p-main {
  &__border {
    margin-bottom: 120px;
  }
}

/*
==============================
ローディング画面
==============================
*/
#container {
  //margin: 20px;
  width: 100%;
  height: 0.5px;
  position: absolute;
  //top: -309px;;
  top: 8.7%; //線の中央配置
	left: 50%; //線の中央配置
  transform: translate(-50%, -50%); //線の中央配置
  @include m.breakpoint(tablet) {
    top: 26.5%; //線の中央配置
  }
}

#splash {
/*fixedで全面に固定*/
//position: fixed;
position: absolute;
top: -309px;
z-index: 999;
width: 100%;
height: 100%;
background:#333;
text-align:center;
color:#fff;
  @include m.breakpoint(tablet) {
    top: -468px;
  }
  @include m.breakpoint(pc) {
    top: -758px;
}
}
