@use "../../foundation/base" as b;
@use "../../foundation/color" as c;
@use "../../foundation/font-family" as f;
@use "../../foundation/mixin" as m;

//archive blog
.p-main {
  &__border {
    background-image: url(../image/sen-kugiri.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    //width: 340px;
    width: 100%;
    height: 12px;
    &:last-of-type {
      margin-top: 180px;
      margin-bottom: 30px;
    }
    @include m.breakpoint(tablet) {
      //width: 600px;
    }
    @include m.breakpoint(pc) {
      //width: 920px;
    }
  }
}

/*
==============================
WordPress化 front-page以外
==============================
*/
.single .p-main {
  &__border {
    margin-bottom: 120px;
  }
}