@use "../../foundation/base" as b;
@use "../../foundation/color" as c;
@use "../../foundation/font-family" as f;
@use "../../foundation/mixin" as m;

.p-about {
 &__history-js-wrapper {
  //width: calc(100% + 120px);
  height: 100%;
 }
}
//front-page header
.p-header {

 position: relative;
 z-index: 100;
 height: 244px;
 margin-top: 0;
 @include m.breakpoint(tablet) {
  height: 468px;
 }
 @include m.breakpoint(pc) {
  height: 758px;
 }
 &__nav-front-page {
  > ul > li > a {
   color: c.$color-font-light;
  }
 }
 //&__container {
  //position: absolute;
  //top: 50%;
  //right: 5%;  
 //}
}


