@use "../foundation/base" as b;
@use "../foundation/color" as c;
@use "../foundation/font-family" as f;
@use "../foundation/mixin" as m;

/*
==================
archive blog
==================
*/
.l-header {
  position: relative;
  z-index: 100;
  margin-top: 245px; //450px→245pxに変更
  //@include m.breakpoint(tablet) {
    //margin-top: initial;
  //}
  &__container-primary {
    //position: absolute;
    position: relative;
    //top: -280px;
    bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    h1 {
      background-image: url(../image/portfolio-logo-re.png);
      background-size: contain;
      background-position: center;
      text-align: center;
      //margin-bottom: 60px;
      @include m.breakpoint(tablet) {
       // margin-left: 150px;
      }
    }
    @include m.breakpoint(tablet) {
      justify-content: center;
      align-items: center;
    }
  }
  &__logo {
    width: 280px;
    @include m.breakpoint(tablet) {
      width: 600px;
      //padding-right: 40px;
    }
  }
  &__nav {
    ul {
      display: flex;
      li {
        padding: 0 35px;
      }
    }
    >ul >li >a {
      color: c.$color-font-dark;
      font-family: f.$eiji-font;
      font-size: 20rem;
    }
  }
}
/*
==============================
WordPress化 front-page
==============================
*/
.home {
  .l-header {
    @include m.breakpoint(pc) {
      margin-bottom: 200px;
    }
    &__container-primary {
      h1 {
        background-image: url(../image/toplogo_EAF4FC.png);
        background-size: contain;
        background-position: center;
        text-align: center;
        margin-left: 30px;
        @include m.breakpoint(tablet) {
          margin-left: 0px;
        }
        a {
          width: 100%;
          height: 50px;
        }
      }
    }
  }
}
/*
==============================
WordPress化 front-page以外
==============================
*/
.archive {
  .l-header {
    //frontpage以外はロゴとナビメニューを詰めて上下のマージンを調整
    margin-top: 120px;
    margin-bottom: 60px;
    &__container-primary {
      h1 {
        margin: 0 auto;
        a {
          width: 100%;
          height: 50px;
        }
      }
    }
  }
}
.page {
  .l-header {
    //frontpage以外はロゴとナビメニューを詰めて上下のマージンを調整
    margin-top: 120px;
    margin-bottom: 60px;
    &__container-primary {
      text-align: center;
      h1 {
        margin: 0 auto;
        text-align: center;
        a {
          width: 100%;
          height: 50px;
        }
      }
    }
  }
}
.post-type-archive-works {
  .l-header {
    //frontpage以外はロゴとナビメニューを詰めて上下のマージンを調整
    margin-top: 120px;
    margin-bottom: 60px;
    &__container-primary {
      text-align: center;
      h1 {
        margin: 0 auto;
        text-align: center;
        a {
          width: 100%;
          height: 50px;
        }
      }
    }
  }
}
.post-type-archive-post {
  .l-header {
    //frontpage以外はロゴとナビメニューを詰めて上下のマージンを調整
    margin-top: 120px;
    margin-bottom: 60px;
    &__container-primary {
      text-align: center;
      h1 {
        text-align: center;
        margin: 0 auto;
        a {
          width: 100%;
          height: 50px;
        }
      }
    }
  }
}
.single {
  .l-header {
    //frontpage以外はロゴとナビメニューを詰めて上下のマージンを調整
    margin-top: 120px;
    margin-bottom: 60px;
    &__container-primary {
      text-align: center;
      h1 {
        text-align: center;
        margin: 0 auto;
        a {
          width: 100%;
          height: 50px;
        }
      }
    }
  }
}